---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
---

<Layout title="News Homepage">
    <div class="mx-auto max-w-[80vw]">
        <Navbar client:load />
    </div>
</Layout>
