---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
---

<Layout title="News Homepage">
    <div class="mx-auto w-full px-4 sm:px-6 xl:max-w-7xl">
        <Navbar client:load />
    </div>
</Layout>
