---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Main from "../components/Main.astro";
import News from "../components/News";
---

<Layout title="News Homepage">
    <div class="mx-auto w-full px-4 sm:px-6 xl:max-w-7xl">
        <Navbar client:load />
        <div class="gap-8 sm:grid sm:grid-cols-3">
            <Main />
            <News />
        </div>
    </div>
</Layout>
