<main class="col-span-2 gap-x-6 gap-y-5 sm:grid sm:grid-cols-2">
    <picture class="col-span-2">
        <source media="(max-width:640px)" srcset="/image-web-3-mobile.jpg" />
        <source media="(min-width:640px)" srcset="/image-web-3-desktop.jpg" />
        <img src="/image-web-3-desktop.jpg" alt="Web 3" class="" />
    </picture>
    <h1 class="my-4 text-4xl font-bold sm:my-0 md:text-5xl">
        The Bright Future of Web 3.0?
    </h1>
    <div>
        <p class="sm:mb-4">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita,
            at neque dolorem sit eveniet ipsam libero fugit exercitationem quasi
            error?
        </p>
        <a
            class="my-4 inline-block cursor-pointer bg-red-400 px-10 py-3 font-semibold uppercase tracking-widest text-white hover:bg-black"
            >Read More</a
        >
    </div>
</main>
